table, th, td{
  border:2px solid black ;
  color: white;

}


video{
  
  width: 20%;
  height: 20%;
}

.pirveli {
  background-color: rgb(179, 156, 65);
  text-align: center;
  width: 80%;
}